# Introduction

This project will show the analysis of species in the National Park Service and if there are patterns to them becoming endangered.

This project will focus on the analysis, clean up and plotting of data.

# Species
Lets see what is in the species data and do some analysis on it

In [40]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

species_df = pd.read_csv('species_info.csv')

species_df.head()

,category,scientific_name,common_names,conservation_status
0,Mammal,Clethrionomys gapperi gapperi,Gapper's Red-Backed Vole,NaN
1,Mammal,Bos bison,"American Bison, Bison",NaN
2,Mammal,Bos taurus,"Aurochs, Aurochs, Domestic Cattle (Feral), Dom...",NaN
3,Mammal,Ovis aries,"Domestic Sheep, Mouflon, Red Sheep, Sheep (Feral)",NaN
4,Mammal,Cervus elaphus,Wapiti Or Elk,NaN

In [39]:
print(species_df.dtypes)
print(species_df.columns)

category               object
scientific_name        object
common_names           object
conservation_status    object
dtype: object
Index(['category', 'scientific_name', 'common_names', 'conservation_status'], dtype='object')

## How many animals there are?

In [19]:
print(species_df.scientific_name.nunique())

5541

## What are the categories these species are from?

In [36]:
print(species_df.category.unique())

['Mammal' 'Bird' 'Reptile' 'Amphibian' 'Fish' 'Vascular Plant'
 'Nonvascular Plant']

## What are the types of conversation status?

In [34]:
print(species_df.conservation_status.unique())

[nan 'Species of Concern' 'Endangered' 'Threatened' 'In Recovery']

## Show the counted values of each of the types of conservation status.

In [42]:
species_df.groupby('conservation_status').unique().reset_index()

AttributeError: 'DataFrameGroupBy' object has no attribute 'unique'

# Observations

Load in the observation data and do some small analysis on it.

In [26]:
observation_df = pd.read_csv('observations.csv')
print(observation_df.head())

            scientific_name                            park_name  observations
0        Vicia benghalensis  Great Smoky Mountains National Park            68
1            Neovison vison  Great Smoky Mountains National Park            77
2         Prunus subcordata               Yosemite National Park           138
3      Abutilon theophrasti                  Bryce National Park            84
4  Githopsis specularioides  Great Smoky Mountains National Park            85

In [27]:
print(observation_df.dtypes)
print(observation_df.columns)

scientific_name    object
park_name          object
observations        int64
dtype: object
Index(['scientific_name', 'park_name', 'observations'], dtype='object')

## Lets see the different types of parks

In [29]:
print(observation_df.park_name.unique())

['Great Smoky Mountains National Park' 'Yosemite National Park'
 'Bryce National Park' 'Yellowstone National Park']

## What are the

In [31]:
print(observation_df.observations)

0         68
1         77
2        138
3         84
4         85
        ...
23291    173
23292    130
23293    140
23294    171
23295    164
Name: observations, Length: 23296, dtype: int64